/* main.css code here */

body {
  font-family:Verdana, sans-serif;
  font-size:14px;
}

main {
  display:block;
  height: 700px;
  margin-top: 80px;
  margin-left:15px;
}

header {
  position: fixed;
  top:0px;
  width: 100%;
  background-color:#EEE8CD;
  border-bottom:1px solid #333;
  color:#B8860B;
  padding:0px;
  height: 50px;
}

h2 {
  font-size:36px;

}

h3 {
  font-size:30px;
  margin: 20px 0 0 10px;
}

footer {
  margin-top:50px;
  background-color:#EEE8CD;
  border-top:1px solid #333;
  color:#B8860B;
  padding:20px;
}

#deliveries {

  margin: 25px;
  display: inline-block;
}

input {
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 15px;
  display: inline-block;
}

form {
background: aqua;
width:550px;
height:600px;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.button {
  margin-top: 5px;
  clear:both;
}

.on-error {
  display:none;
  color:#900;
  background-color:#FAFFBD;
}

span {
  display: block;
  margin: 5px;
  padding: 2px;
  width: 480px;
}

.form-input {
   width: 500px;
   clear: both;
   margin: auto;
}

.form-input input {
    width: 100%;
    clear: both;
    border: 1px solid #999;
    height: 30px;
}

/* ****************************Navigation******************************* */


header nav {
  position:fixed;
  top: 10px;
  width:100%;
  font-size: 105%;
  text-align: center;
  padding-left: 15vw;
  height: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  opacity:.98;
}

header nav > ul {
  position: absolute;
}

header nav ul li {
  position:relative;
  height: 30px;
}
header nav > ul > li {
  float:left;
}

header nav > ul li a {
  padding-top:6px;
  padding-bottom: 9px;
  display: block;
}

header nav > ul > li > a {
  /*height:16px;*/
  border-right:0px solid rgb(255, 163, 0);
}


header nav a {
  display:block;
  padding: 0 10px 8px;
  text-decoration:none;
  color:#3b3b3b;
}

header nav a:hover {
  background-color:#000;
  color: #fff;
  overflow: hidden;
}

.active {
     background-color: #efcbae;
  }
